*{
  margin: 0;
  padding: 0; 
}
body {
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Urbanist', sans-serif;
  background-color: #111118;
  color: #E4E5EA;
}
.container{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 15px;
}
.App{
  position: relative;
  z-index: 1;
  padding: 10px;
}
@media (max-width: 500px){
  .App{
    padding: 0;
  }
}